@media (max-width: 768px)  {
    .arrow button{
        position: relative;
        z-index: 10;
        background-color: #F8B300;
    }
    #first_of_top div:not(#sahar){
        display: none;
    }
    #sahar{
        font-size: 15.45px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    #first_of_top img{
        display: block;
    }
    #search-icon{
        display: none;
    }
    #first_of_top.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    #first_of_top.active #sahar img{
        transform: rotate(180deg);
    }
    #options, #search_phone{
        display: block;
    }
    #head1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom:2.29px solid #F8B300;
    }
    #h1p{
        font-size: 24px;
    }
    #h2p{
        font-size: 20px;
    }
    #head img{
        width: 50px;
    }
    nav div:not(#lakshya){
        display: none;
    }
    nav{
        border-top: none;
    }
    #topbar{
        border: none;
    }
    #lakshya{
        font-family: 'Hind';
        display: block;
        font-size: 14px;
        font-weight: 400;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 8%;
    }
    #vid{
        display: none;
    }
    #photu{
        display: block;
        width: 100%;
        margin-top:-135px;
    }
    #char_shabd{
        position: absolute;
        top:45%;
        left:7%;
        font-family: 'Lato-Bold';
        font-weight: 800;
        font-size: 72px;
        line-height: 70px;
        letter-spacing: 2%;
        text-transform: uppercase;
    }
    #hype{
        right:3.5%;
        top:46%;
    }
    #hype a img{
        width:48px;
    }
    #extra{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-top: -10%;
    }
    #staff{
        order:1;
    }
    .blue{
        background: #F8B300;
    }
    .vall{
        font-family: 'Lato-Bold';
        font-size: 18px;
    }
    .titles{
        /* margin-left: 5%;
        margin-right: 5%; */
        font-size: 27px;
    }
    #gallery{
        display: none;
    }
    #gallery_phone{
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    #gallery_phone img{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
    #pc1, #pc2{
        display: grid;
        row-gap: 10px;
    }
    #pc2 div{
        overflow: hidden;
    }
    #pc2 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .card{
        grid-template-rows: auto 1fr;
    }
    #caption{
        order:-1;
        padding-bottom: 0%;
    }
    #nums{
        display: flex;
        flex-direction: column;
        padding-top: 6%;
    }
    #archi, #eng, #asia{
        border:none;
        border-bottom: 0.6px solid #C4C4C4;
    }
    .a-card{
        flex: 0 0 100%;
    }
    .a-card-set{
        overflow-x: auto;
    }
    .a-card-set::-webkit-scrollbar{
        display: none;
    }
    #achievements{
        background: #F8B300;
        padding-left: 5%;
        padding-right: 5%;
        padding-top:5%;
    }
    #events{
        padding:0;
    }
    #cont1{
        width: 100vw;
        margin-left: 0;
        margin-right:0;
        border-radius: 0;
        padding: 0;
    }
    #rem_events{
        display: flex;
        flex-direction: column;
    }
    #names{
        position: relative;
        left:0;
        flex-direction: row;
        overflow-x: auto;
        order:1;
    }
    #names::-webkit-scrollbar{
        display: none;
    }
    #names div{
        flex: 0 0 auto;
    }
    #event_pictures{
        width:90%;
        margin-left:5%;
    }
    #events_gallery{
        display: none;
    }
    #events_gallery_title{
        display: flex;
        padding-top: 5%;
    }
    #cogni_ka_sar{
        display:block;
        order:2;
        font-family: 'Segoe UI';
        font-weight: 200;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5.5%;
        text-align: justify;
        color:#FFFFFFCC;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    #noticeandevents{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .notices{
        background: #FACB5559;
        margin-top: 7%;
        margin-bottom: 10%;
    }
    .notice-card{
        border: none;
    }
    #event2{
        border:none;
    }
    #credits{
        flex-direction: column;
    }
    #devtools, #imgiitr{
        display: none;
    }
    #devtoolsphone{
        padding: 2%;
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-around;
        background: #121212;
        font-family: 'Segoe UI';
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 30.8px;
        letter-spacing: 0%;
        color:#F7F7F7;
        border: none;
    }
    #imgiitrphone{
        padding: 2%;
        display: flex;
        justify-content: center;
        background: #1A1A1A;
        font-family: 'Segoe UI';
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 30.8px;
        letter-spacing: 0%;
        color:#F7F7F7;
        border: none;
    }
    #recent_ka_title{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%;
    }
    #achi_ka_title{
        margin-left:0%;
        margin-right: 0%;
    }
    #copyright{
        background: #292929;
        border: none;
    }
    footer{
        padding-left: 10%;
    }
    #main_footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .heading_columns{
        padding-bottom: 2%;
    }
    .date-box{
        border: 0.05px solid #000000;
    }
    .card{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .card-title{
        padding-bottom: 10px;
    }
    .buttons{
        margin-top: 0;
        padding-top: 3%;
    }
    #webmile{
        display: none;
    }
    #phonemile{
        padding-top: 4%;
        display: inline;
        font-family: 'Segoe UI';
        font-weight: 600;
        font-style: Semibold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
    #milestitle{
        padding-top: 4%;
    }
    .content-of-scoller{
        margin: 0;
        padding-left: 4%;
        padding-right: 4%;
    }
    .card-pic{
        width:100%;
        overflow: hidden;
    }
    .card-pic img{
        width:100%;
        object-fit: cover;
    }
    .years{
        display: none;
    }
    #years_phone{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 8%;
        padding-right: 8%;
        color: #232323CC;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 2px;
        line-height: 100%;
        letter-spacing: 1.25%;
    }
    #years_phone div:hover{
        background: #232323;
        color:#FFFFFF;
    }
    .year{
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 5%;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: 1.25%;
    }
    .m-card{
        justify-self: center;
    }
    #extra div{
        min-width:250px;
        min-height:150px;
    }
    #extra div img{
        width: 80px;
    }
    #extra_ka_extra{
        margin-top: -30px;
    }
    .num{
        font-size: 35px;
    }
    .des{
        font-size: 25px;
    }
    .card-desc{
        font-family:'Segoe UI';
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: justify;
    }
    #imgiitrphone{
        text-align: center;
    }
}
@media (max-width: 650px){
    #extra div{
        min-width: 200px;
        min-height: 150px;
    }
    #extra div img{
        width: 80px;
    }
    #extra_ka_extra{
        margin-top: -30px;
    }
    .num{
        font-size: 25px;
    }
    .des{
        font-size: 18px;
    }
    #mile1{
        width:100%;
        align-self: center;
    }
    .card-pic{
        align-self: center ;
    }
}
@media (max-width:510px){
    #extra div{
        min-width: 150px;
        min-height: 125px;
    }
    #extra div img{
        width: 45px;
    }
    #extra_ka_extra{
        margin-top: -30px;
    }
    .num{
        font-size: 30px;
    }
    .des{
        font-size: 24px;
    }
    #char_shabd{
        position: absolute;
        top:35vh;
        font-size: 50px;
        line-height: 45px;
    }
    #hype{
        top:35vh;
    }
    #hype a img{
        width:30px;
    }
    #years_phone{
        overflow-x: auto;
    }
    #years_phone::-webkit-scrollbar{
        display: none;
    }
    #years_phone div{
        flex: 0 0 auto;
    }
}
@media (max-width: 425px){
    #extra div{
        min-width: 130px;
        min-height: 100px;
    }
    #extra div img{
        width: 40px;
    }
    #extra_ka_extra{
        margin-top: -50px;
    }
    .num{
        font-size: 20px;
    }
    .des{
        font-size: 14px;
    }
    .day{
        font-family: 'Lato-Bold';
        font-weight: 400;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
    .month{
        font-family: 'Lato';
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
    .head-event{
        font-family: 'Segoe UI';
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color:#000000DE;
        align-self: flex-end;
    }
    .event-desc{
        font-family: 'Segoe UI';
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color:#00000099;
        align-self: flex-start;
    }
    .detail-box{
        row-gap:5px;
    }
    #lakshya{
        font-size: 20px;
    }
    #head p{
        font-size: 16px;
    }
    #cogni_ka_sar{
        font-size: 15px;
        line-height: 18px;
    }
    #names div{
        font-size: 16px;
    }
    #char_shabd{
        font-size: 40px;
        line-height: 38px;
    }
    #head img{
        width: 45px;
    }
    #sahar{
        font-size: 10px;
    }
    #right-part{
        justify-content: flex-end;
    }
    #second_of_top{
        margin: 5px;
    }
    #ittrlogo {
        display: flex;
        align-items: center;
    }

    #ittrlogo img {
        width: 80vw;
    }
    .titles{
        font-size: 20px;
    }
    #achi_ka_title{
        font-size:21px;
    }
    .vall{
        font-size: 15px;
    }
    #milest{
        color:#4C4C4C;
        font-family: 'Lato-Bold';
        font-weight: 500;
        font-size: 30px;
        line-height: 80%;
        letter-spacing: 4%;
    }
    .noticeboard, .events_heading{
        font-size:25px;
    }
    .notice-vall, .events-vall{
        font-size:20px;
        align-self:center;
    }
}