*{
    border:0;
    padding:0;
    margin:0;
}
body {
    overflow-x: hidden;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(font/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Hind';
    src: url(font/Hind-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Dutch801W03-Headline';
    src: url(font/Dutch\ 801\ W03\ Headline.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: url(font/Lato-Light.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(font/Inter_18pt-Regular.ttf);
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#222222;
    backdrop-filter: blur(20px);
}
#topbar{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3C3C3C;
    backdrop-filter: blur(20px);
    width: 100%;
    border-bottom: 1px solid #FEBE10;
}
#right-part{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}
#first_of_top{
    width:40%;
    color:#FFFFFF;
    display:flex;
    flex-direction: row;
    font-family: 'Lato';
    justify-content: space-between;
    font-weight: 400;
    font-size: clamp(9px,1.1vw,15.45px);
    line-height: 100%;
    letter-spacing: 2%;
}
#second_of_top{
    width:6%;
    display: flex;
    flex-direction: row;
    color:#FFFFFF;
    justify-content:space-between;
    align-items: flex-end;
    column-gap: 5px;
}
#smallA{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15.45px;
    line-height: 100%;
    letter-spacing: 0%;
}
#justA{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18.02px;
    line-height: 100%;
    letter-spacing: 0%;
}
#badaA{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20.6px;
    line-height: 100%;
    letter-spacing: 0%;
}
#third_of_top{
    width:10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;
}
#third_of_top div{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18.02px;
    line-height: 100%;
    letter-spacing: 0%;
    padding:4px;
    border: 1px solid #CFDBE6;
    width: 30.899999618530273;
    height: 30.899999618530273;
    opacity: 1;
    border-radius: 2.58px;
}
#wh{
    background-color: #FFFFFF;
    color:#232323;
}
#yh{
    background-color: #FEBE10;
    color:#232323;
}
#forth_of_top{
    display: flex;
    flex-direction: right;
    align-items: center;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 15.45px;
    line-height: 100%;
    letter-spacing: 0%;
}
#head{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content:center;
    align-items:center;
    gap:0px;
    padding: 8px 0 8px 0;
}
#head img{
    grid-row: span 2;
    width: 80px;
    opacity: 1;
}
#head p{
    color:#FFFFFF;
    justify-self: start;
}
#h2p{
    font-family: 'Dutch801W03-Headline';
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.2%;
    align-self: self-start;
}
#h1p{
    font-family: 'Hind';
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 12%;
    align-self: self-end;
}
.hi{
    font-family: 'Hind',sans-serif;
}
nav{
    margin-top: 0px;
    color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1.29px solid #F8B300;
}
nav div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: Lato;
    font-weight: 400;
    font-size: 16.02px;
    line-height: 100%;
    letter-spacing: 2%;
}
#search{
    color:white;
}
i{
    justify-content: center;
}
.arrow {
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#char_shabd{
    position: absolute;
    top:45%;
    left:10%;
    z-index: 1;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Lato-Bold';
    font-weight: 800;
    font-size: 90px;
    line-height: 78px;
    letter-spacing: 2%;
    text-transform: uppercase;
}
#char_shabd p{
    text-shadow: 0px 4px 4px #0000004D;
}
#hype{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top:55%;
    right:0.5%;
}
#first img{
    width: 100%;
}
#hype a img{
    width:38px;
}
#extra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position:absolute;
    top:105%; */
}
#extra div{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content:center;
    align-items:center;
    column-gap:15px;
    min-width: 300px;
    min-height: 250px;
    opacity: 1;
    padding: 10px;
}
#extra div img{
    width: 100px;
    grid-row:span 2;
}
.blue{
    background: #99BBD1;
    color:#232323;
}
.black{
    background: #202020;
    color:#FFFFFF;
}
.des{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2%;
    align-self: flex-start;
}
.num{
    font-family: 'Lato';
    font-weight: 1000;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 2%;
    align-self: flex-end;
}
#vid{
    z-index: 1;
    position: relative;
    width:100%;
    height:645px;
    overflow: hidden;
}
#vid video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#extra_ka_extra{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 60px;
}
.titles{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Lato-Bold';
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 4%;
}
.vall{
    width: auto;
    justify-self: flex-end;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 2%;
    align-self: center;
}
#gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 3%; */
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    height: auto;
}
#gallery img{
    width: 100%;
    height: 100%;
}
#col1{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#col2{
    width:49%;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
}
#col2_ka_row1{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:12px;
}
#col2_ka_row2{
    display: grid;
    grid-template-columns: 60% 1fr;
    gap:12px;
}
#col3{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4px;
}
#first_of_top img{
    display: none;
}
#options, #search_phone{
    display: none;
}
#lakshya, #photu, #gallery_phone{
    display: none;
}
#ranks{
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    margin-top: 25px;
}
#nums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 60px;
}
.contain{
    display:flex;
    justify-content: center;
}
#nums div{
    color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ranks img{
    width: 100px;
    height: 100px;
    opacity: 1;
}
.rank {
    position: relative;
    z-index: 1;
}
.rank p::after{
    content: attr(data-text);
    position: absolute;
    top:4px;
    left:6px;
    color:#FBD880;
    z-index: -1;
}
#archi, #eng, #asia{
    border-right: 1px solid #C4C4C4;
}
#archi, #eng, #asia, #world{
    padding:15px;
}
.name{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}
.rank{
    font-family: 'Lato-Bold';
    font-weight: 900;
    font-style: Black;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
#caption{
    font-family: 'Lato-Bold';
    font-weight: 600;
    font-size: 39px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding-bottom: 150px;
}
.content-of-scoller{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    margin-left: 8%;
    margin-right: 8%;
}
#patents{
    margin-top: 60px;
    color:#232323;
}
.card{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 30px;
    padding-right: 10px;
}
.card-pic img{
    width: 600.1640014648438px;
    height: auto;
    opacity: 1;
    border-radius: 8px;
    border-bottom: 2px solid #FEBE10DE;
    object-fit: cover;
}
.card-title, .card-desc{
    padding: 20px;
}
.card-title{
    padding-top: 0px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0%;
}
.card-desc{
    font-family:'Segoe UI';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: justify;
}
.buttons{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
}
.read, .license{
    width: auto;
    height: 37.33333206176758px;
    opacity: 1;
    background-color: #FFFFFF;
    border: 1px solid #232323;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1%;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 2px;
}
.read{
    padding-left: 3%;
    padding-right:3%;
}
.license{
    padding-left: 5%;
    padding-right: 5%;
}
.content{
    display:flex;
    flex-direction:column;
}
.arrow{
    border: none;
}
#achievements{
    padding: 60px;
    background: #99BBD1;
    color:#232323;
}
.a-card-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 25px;
}
.a-card{
    width:auto;
    background: #232323;
    box-shadow: 0px 0px 6px 0px #00000026;
    border-radius: 8px;
    color:#FFFFFFCC;

}
.a-card-caption{
    padding: 15px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-style: Semibold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: justify;
}
.a-card-body{
    padding:15px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: justify;
}
.a-img{
    height: 50%;
    overflow: hidden;
    border-radius: 8px;
}
.a-card img{
    width:100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}
#events{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:3%;
    padding-bottom: 3%;
}
#cont1{
    background:#232323;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:84%;
    height: 60%;
    border-radius: 16px;
}
#names{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 1.25%;
    vertical-align: middle;
    color: #FFFFFFCC;
}
#names div{
    margin: 4%;
    padding: 3%;
    padding-left: 0;
    margin-left: 0;
    transition: all 0.3s ease;
    width: fit-content;
}
#names div:hover{
    padding:3%;
    background:#F9B202;
    color:#232323CC;
    border-radius: 8px;
}
#rem_events{
    display:grid;
    grid-template-columns: 25% 1fr;
}
#events_gallery{
    font-family: 'Lato-Bold';
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 4%;
    padding-top: 25px ;
    padding-bottom: 25px;
}
#event_pictures{
    width: 100%;
}
#event_pictures img{
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: 8px;
}
#milestones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.years{
    display: flex;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    margin-bottom: 3%;
}
.years div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#23232399;
    font-family: 'Roboto';
}
.year{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 50%;
}
.m-card{
    grid-template-columns: auto 1fr;
}
.m-title{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}
.m-title span{
    font-family: 'Segoe UI';
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0%;
    display: inline;
} 
.m-desc{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: justify;
    color: #00000099;
}
.m-button{
    font-family: 'Lato';
font-weight: 800;
font-size: 16px;
line-height: 16px;
letter-spacing: 1%;
vertical-align: middle;
text-transform: uppercase;
color: #232323;
}
.m-read{
    border: 1px solid #232323;
    border-radius: 2px;
}
#mile1{
    width:500px;
    bottom: none;
}
#mile1 img{
    width:100%;
    border: none;
}
#milest{
    color:#4C4C4C;
    font-family: 'Lato-Bold';
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 4%;
}
#mileva{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #232323DE;
}
footer{
    background:#000000;
    color:#FFFFFF
}
#contacts{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}
.aisehi img{
    position: relative;
    top:20%;
}
.aisehi2 img{
    position: relative;
    top: 10%;
}
#contacts div{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 30.8px;
    letter-spacing: 0%;
    vertical-align: middle;
}
footer{
    padding-left: 5%;
    padding-right: 5%;
}
#main_footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}
#column1{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
#logo_strip{
    display: flex;
    flex-direction: row;
}
#logo_strip a{
    padding-right: 18px;
}
.heading_columns{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
}
.heading_columns{
    padding-top: 40px;
    padding-bottom:40px;
}
.column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.list div{
    padding-bottom: 5%;
}
.list img{
    position: relative;
    vertical-align: center;
}
#credits{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}
#devtools{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30.8px;
    letter-spacing: 0%;
    vertical-align: middle;
}
#imgiitr{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 30.8px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
#copyright{
    background: #121212;
    color:#FFFFFF;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 25.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
#noticeandevents{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 7%;
}
.notice_heading, .event_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.noticeboard{
    font-family: 'Lato-Bold';
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #232323;
}
.notice-vall{
    font-family: 'Lato-Bold';
    font-weight: 200;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #232323;
}
.notices{
    background: #99BBD159;
    border-radius:8px;
}
.notice-card{
    margin-left:5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #99BBD1;
    row-gap: 10px;
}
.category{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.5%;
}
#n4{
    border: none;
}
.date{
    justify-self: end;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1.5%;
}
.short-notice{
    grid-column: span 2;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.events_heading{
    font-family: 'Lato-Bold';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #232323DE;
}
.events-vall{
    font-family: 'Lato-Bold';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2%;
    vertical-align: middle;
    color:#4C4C4C;
}
.event-list{
    display: grid;
    row-gap: 10px;
}
.event-card{
    display: grid;
    grid-template-columns: 15% 1fr;
    column-gap: 10px;
    margin-top: 5%;
    border-bottom:1px solid #F9B202;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    /* padding-top: 2%; */
}
.head-event{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#000000DE;
    align-self: center;
}
.event-desc{
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#00000099;
    align-self: center;
}
.detail-box{
    display: grid;
}
.date-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:8px;
    height: 65px;
    box-shadow: 0px 0px 4px 0px #86868633;
}
.day{
    font-family: 'Lato-Bold';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.month{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
#events_gallery_title{
    display: none;
}
#cogni_ka_sar{
    display: none;
}
#devtoolsphone, #imgiitrphone{
    display: none;
}
#phonemile{
    display: none;
}
#years_phone{
    display: none;
}
@media (max-width: 768px)  {
    #first_of_top div:not(#sahar){
        display: none;
    }
    #sahar{
        font-size: 15.45px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    #first_of_top img{
        display: block;
    }
    #search-icon{
        display: none;
    }
    #first_of_top.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    #first_of_top.active #sahar img{
        transform: rotate(180deg);
    }
    #options, #search_phone{
        display: block;
    }
    #head1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom:2.29px solid #F8B300;
    }
    #h1p{
        font-size: 24px;
    }
    #h2p{
        font-size: 20px;
    }
    #head img{
        width: 50px;
    }
    nav div:not(#lakshya){
        display: none;
    }
    nav{
        border-top: none;
    }
    #topbar{
        border: none;
    }
    #lakshya{
        font-family: 'Hind';
        display: block;
        font-size: 14px;
        font-weight: 400;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 8%;
    }
    #vid{
        display: none;
    }
    #photu{
        display: block;
        width: 100%;
        margin-top:-135px;
    }
    #char_shabd{
        left:7%;
        font-family: 'Lato-Bold';
        font-weight: 800;
        font-size: 72px;
        line-height: 70px;
        letter-spacing: 2%;
        text-transform: uppercase;
    }
    #hype{
        right:3.5%;
        top:46%;
    }
    #hype a img{
        width:48px;
    }
    #extra{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-top: -10%;
    }
    #staff{
        order:1;
    }
    .blue{
        background: #F8B300;
    }
    .vall{
        font-family: 'Lato-Bold';
        font-size: 18px;
    }
    .titles{
        /* margin-left: 5%;
        margin-right: 5%; */
        font-size: 27px;
    }
    #gallery{
        display: none;
    }
    #gallery_phone{
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    #gallery_phone img{
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }
    #pc1, #pc2{
        display: grid;
        row-gap: 10px;
    }
    #pc2 div{
        overflow: hidden;
    }
    #pc2 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .card{
        grid-template-rows: auto 1fr;
    }
    #caption{
        order:-1;
        padding-bottom: 0%;
    }
    #nums{
        display: flex;
        flex-direction: column;
        padding-top: 6%;
    }
    #archi, #eng, #asia{
        border:none;
        border-bottom: 0.6px solid #C4C4C4;
    }
    /* #a1, #a3{
        display: none;
    } */
    .a-card{
        flex: 0 0 97%;
    }
    .a-card-set{
        overflow-x: auto;
    }
    .a-card-set::-webkit-scrollbar{
        display: none;
    }
    #achievements{
        background: #F8B300;
        padding-left: 5%;
        padding-right: 5%;
        padding-top:5%;
    }
    #events{
        padding:0;
    }
    #cont1{
        width: 100vw;
        margin-left: 0;
        margin-right:0;
        border-radius: 0;
        padding: 0;
    }
    #rem_events{
        display: flex;
        flex-direction: column;
    }
    #names{
        flex-direction: row;
        overflow-x: auto;
        order:1;
    }
    #names::-webkit-scrollbar{
        display: none;
    }
    #names div{
        flex: 0 0 auto;
    }
    #event_pictures{
        width:90%;
        margin-left:5%;
    }
    #events_gallery{
        display: none;
    }
    #events_gallery_title{
        display: flex;
        padding-top: 5%;
    }
    #cogni_ka_sar{
        display:block;
        order:2;
        font-family: 'Segoe UI';
        font-weight: 200;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5.5%;
        text-align: justify;
        color:#FFFFFFCC;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    #noticeandevents{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .notices{
        background: #FACB5559;
        margin-top: 7%;
        margin-bottom: 10%;
    }
    .notice-card{
        border: none;
    }
    #event2{
        border:none;
    }
    #credits{
        flex-direction: column;
    }
    #devtools, #imgiitr{
        display: none;
    }
    #devtoolsphone{
        padding: 2%;
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-around;
        background: #121212;
        font-family: 'Segoe UI';
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 30.8px;
        letter-spacing: 0%;
        color:#F7F7F7;
        border: none;
    }
    #imgiitrphone{
        padding: 2%;
        display: flex;
        justify-content: center;
        background: #1A1A1A;
        font-family: 'Segoe UI';
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 30.8px;
        letter-spacing: 0%;
        color:#F7F7F7;
        border: none;
    }
    #recent_ka_title{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 4%;
    }
    #achi_ka_title{
        margin-left:0%;
        margin-right: 0%;
    }
    #copyright{
        background: #292929;
        border: none;
    }
    footer{
        padding-left: 10%;
    }
    #main_footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .heading_columns{
        padding-bottom: 2%;
    }
    .date-box{
        border: 0.05px solid #000000;
    }
    .card{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .card-title{
        padding-bottom: 10px;
    }
    .buttons{
        margin-top: 0;
        padding-top: 3%;
    }
    #webmile{
        display: none;
    }
    #phonemile{
        padding-top: 4%;
        display: inline;
        font-family: 'Segoe UI';
        font-weight: 600;
        font-style: Semibold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
    #milestitle{
        padding-top: 4%;
    }
    .content-of-scoller{
        margin: 0;
        padding-left: 4%;
        padding-right: 4%;
    }
    .card-pic{
        width:100%;
        overflow: hidden;
    }
    .card-pic img{
        width:100%;
        object-fit: cover;
    }
    .years{
        display: none;
    }
    #years_phone{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 8%;
        padding-right: 8%;
        color: #232323CC;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 2px;
        line-height: 100%;
        letter-spacing: 1.25%;
    }
    #years_phone div:hover{
        background: #232323;
        color:#FFFFFF;
    }
    .year{
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 5%;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: 1.25%;
    }
    .m-card{
        justify-self: center;
    }
}